<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Steven Sotelo" />
    <title>@ViewData["Title"] - @Localizer["Title"]</title>
    <meta name="description" content="@ViewData["Meta_Description"]">
    <meta name="keywords" content="@ViewData["Meta_Keywords"]">

    <!-- Start SEO -->
    <script src="~/js/seo/analytics.js"></script>
    <!-- End SEO -->

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/nvd3/nv.d3.min.css">
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/lib/leaflet/leaflet.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/nvd3/nv.d3.min.css">
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
              asp-fallback-href="~/lib/leaflet/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin="" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/lib/please-wait/build/please-wait.css">    
    <link rel="shortcut icon" href="~/favicon.ico">

</head>
<body>
    <header class="header-logo">
        <h1 class="text-center">
            <a href="http://www.aclimatecolombia.org"><img alt="logo" src="~/images/logo.png" class="text-center" /></a>
        </h1>
    </header>
    <nav class="navbar navbar-default" id="mainMenu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Localizer["Title"]</a>
            </div>

            @Html.Partial("_Menu")

        </div>
    </nav>

    <div class="body-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <footer class="footer clearfix">

        <div class="form-group">
            <div class="col-lg-6 form-group">
                <div class="col-lg-12" style="color:white;">
                    <h4>@Localizer["FooterPartnersTitle"]</h4>
                    <hr />
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="http://www.fedearroz.com.co/new/index.php" target="_blank"><img class="img-rounded" src="~/images/partners/fedearroz.svg" alt="FEDEARROZ" style="padding:.2em; height:110px; width:110px;"></a>
                    </center>
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="https://www.federaciondecafeteros.org/" target="_blank"><img class="img-rounded" src="~/images/partners/federacionnacionaldecafeteros.svg" alt="Federeacion nacional de cafeteros" style="padding:.2em; height:110px; width:110px;"></a>
                    </center>
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="http://www.fenalce.org/nueva/index.php" target="_blank"><img class="img-rounded" src="~/images/partners/fenalce.svg" alt="FENALCE" style="padding:.2em; height:110px; width:110px;"></a>
                    </center>
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="http://www.ideam.gov.co/" target="_blank"><img class="img-rounded" src="~/images/partners/ideam.svg" alt="IDEAM" style="padding:.2em; height:110px; width:110px;"></a>
                    </center>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12" style="color:white;">
                    <h4>@Localizer["FooterSponsorsTitle"]</h4>
                    <hr />
                </div>
                <div class="col-lg-3 col-xs-6">
                    <center>
                        <a href="https://www.usaid.gov/" target="_blank"><img class="img-rounded" src="~/images/partners/usaid.svg" alt="USAID" style="padding:.2em; height:110px; width:110px;"></a>
                    </center>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="col-md-4">
                    <p class="text-justify">
                        @Localizer["FooterCopyRight"]
                    </p>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <p class="text-justify">
                        <a href="@Localizer["FooterContactUrl"]">@Localizer["FooterContactLabel"]</a> /
                        <a href="@Localizer["FooterSitemapUrl"]">@Localizer["FooterSitemapLabel"]</a> /
                        <a href="@Localizer["FooterPrivacyUrl"]">@Localizer["FooterPrivacyLabel"]</a>
                    </p>
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </footer>

    @Html.Partial("_Modal")

    <!-- Start Loader -->
    <script src="~/lib/please-wait/build/please-wait.js"></script>
    <script type="text/javascript">
        window.loading_screen = window.pleaseWait({
            logo: "/images/logo.png",
            backgroundColor: '#ffffff',
            loadingHtml: '<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>'
        });
    </script>
    <!-- Start Loader -->



    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/nvd3/nv.d3.min.js"></script>
        <script src="~/lib/select2/js/select2.full.min.js"></script>
        <script src="~/js/tools/tools.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM">
        </script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/nvd3/nv.d3.min.js"></script>
        <script src="~/lib/select2/js/select2.full.min.js"></script>        
        <script src="~/js/tools/tools.js"></script>
    </environment>

    <script src="~/js/lib/compatibilty/ie.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/services/setup.js"></script>
    <script src="~/js/services/assist.js"></script>
    <script src="~/js/services/tutorial.js"></script>
    <script src="~/js/services/forecast_api.js"></script>
    <script src="~/js/services/agronomy.js"></script>
    <script src="~/js/services/cultivar.js"></script>
    <script src="~/js/services/soil.js"></script>
    <script src="~/js/services/crop_vars.js"></script>
    <script src="~/js/services/geographic.js"></script>
    <script src="~/js/services/municipality.js"></script>
    <script src="~/js/services/weather_station.js"></script>
    <script src="~/js/services/climate_climatology.js"></script>
    <script src="~/js/services/climate_historical.js"></script>
    <script src="~/js/services/climate_forecast.js"></script>
    <script src="~/js/services/climate_scenario.js"></script>
    <script src="~/js/services/crop_yield_forecast.js"></script>
    <script src="~/js/services/crop_yield_historical.js"></script>
    <script src="~/js/controllers/sub_menu_ctr.js"></script>
    <!-- <script src="~/js/controllers/location_ctr.js"></script> -->
    <script src="~/js/controllers/assist_ctr.js"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        updateBackground();
    </script>
</body>
</html>