

@using CIAT.DAPA.USAID.Forecast.Web.Models.Tools;
@inject Microsoft.Extensions.Options.IOptions<Settings> AppSettings


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Steven Sotelo" />
    <title>@ViewData["Title"] - @Localizer["Title"]</title>
    <meta name="description" content="@ViewData["Meta_Description"]">
    <meta name="keywords" content="@ViewData["Meta_Keywords"]">

    <!-- Start SEO -->
    <script src="~/js/seo/analytics.js"></script>
    <!-- End SEO -->

    <!-- Google analytics -->
    <script>

        var gTag = '@AppSettings.Value.gTag';
        var gScript = document.createElement('script');
        gScript.src = 'https://www.googletagmanager.com/gtag/js?id=' + gTag;
        gScript.async = true;
        document.head.appendChild(gScript);

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', gTag);


    </script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/nvd3/nv.d3.min.css">
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/lib/leaflet/leaflet.css">
        <link rel="stylesheet" href="~/lib/please-wait/build/please-wait.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
     
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"
              asp-fallback-href="~/lib/leaflet/leaflet.css" />
        <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="shortcut icon" href="~/favicon.ico">

</head>
<body>


    <header class="header-logo">
        <h1 class="text-center">
            <a href=""><img alt="logo" src="~/Environment/@AppSettings.Value.countryName/logo.png" class="text-center" /></a>
        </h1>
    </header>
    <nav class="navbar navbar-default" id="mainMenu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Localizer["Title"]</a>
            </div>

            @Html.Partial("_Menu")

        </div>
    </nav>

    <div class="body-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <footer class="footer clearfix">
        <div class="form-group">

            @if (@AppSettings.Value.partners.Count > 0)
            {
                <div class="col-lg-12 form-group">
                    <div  style="color:white;">
                        <h4>@Localizer["FooterPartnersTitle"]</h4>
                        <hr />
                    </div>
                    <section class="partners-container">
                        @foreach (var partner in @AppSettings.Value.partners)
                        {
                            <a href="@partner["link"]" target="_blank">
                                <img class="img-rounded" src="~/Environment/@AppSettings.Value.countryName/Partners/@partner["src"]" alt="@partner["name"]" title="@partner["name"]" />
                            </a>
                        }
                    </section>
                </div>
            }
           
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="col-md-4">
                    <p class="text-justify">
                        @Localizer["FooterCopyRight"]
                    </p>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <p class="text-justify">
                        <a href="@Localizer["FooterContactUrl"]">@Localizer["FooterContactLabel"]</a> /
                        <a href="@Localizer["FooterSitemapUrl"]">@Localizer["FooterSitemapLabel"]</a> /
                        <a href="@Localizer["FooterPrivacyUrl"]">@Localizer["FooterPrivacyLabel"]</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Html.Partial("_Modal")

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/nvd3/nv.d3.min.js"></script>
        <script src="~/lib/select2/js/select2.full.min.js"></script>
        <script src="~/lib/leaflet/leaflet.js"></script>
        <script src="~/lib/axios/axios.min.js"></script>
        <script src="~/lib/please-wait/build/please-wait.js"></script>
        <script src="~/js/tools/tools.js"></script>
        <script src="~/js/tools/menu.js"></script>
        <script src="~/js/lib/leaflet-side-by-side.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"
                asp-fallback-src="~/lib/leaflet/leaflet.js"
                crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"
                asp-fallback-src="~/lib/axios/axios.min.js"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"
                asp-fallback-src="~/lib/d3/d3.min.js"
                crossorigin="anonymous">
        </script>
        <script src="~/js/vendor.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>

    <!-- Start Loader -->
    <script type="text/javascript">
        window.loading_screen = window.pleaseWait({
            logo: "/Environment/@AppSettings.Value.countryName/logo.png",
            backgroundColor: '#ffffff',
            loadingHtml: '<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>'
        });
    </script>
    <!-- Start Loader -->

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        change_searchbox('@Localizer["ChooseOne"]');
        updateBackground();
    </script>
</body>
</html>