<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Steven Sotelo" />
    <title>@ViewData["Title"] - Aclímate Colombia Pronósticos</title>
    <meta name="description" content="@ViewData["Meta_Description"]">
    <meta name="keywords" content="@ViewData["Meta_Keywords"]">

    <!-- Start SEO -->
    <script src="~/js/seo/analytics.js"></script>
    <!-- End SEO -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="shortcut icon" href="http://www.aclimatecolombia.org/wp-content/uploads/2013/06/CONVENIO3.png">

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-app="ForecastApp">
    <header class="header-logo">
        <h1 class="text-center">
            <a href="http://www.aclimatecolombia.org"><img alt="logo" src="~/images/logo.png" class="text-center" /></a>
        </h1>
    </header>
    <nav class="navbar navbar-default" id="mainMenu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Aclímate Colombia - Pronósticos</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar_main" ng-controller="LocationCtrl">
                <ul class="nav navbar-nav">
                    <li id="menu_main_climate"><a href="/Clima"><span class="glyphicon glyphicon-asterisk"></span> Clima</a></li>
                    <li id="menu_main_rice"><a href="/Cultivo?cultivo=arroz"><span class="glyphicon glyphicon-grain"></span> Arroz</a></li>
                    <li id="menu_main_maize"><a href="/Cultivo?cultivo=maíz"><span class="glyphicon glyphicon-grain"></span> Maíz</a></li>
                    <li id="menu_main_expert"><a href="/Experto"><span class="glyphicon glyphicon-cloud-download"></span> Datos</a></li>
                </ul>
                <!-- Start weather station -->
                <ul class="nav navbar-nav navbar-right" id="mn_municipalities">
                    <li class="dropdown text-bold" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-globe"></span> {{municipality_name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" ng-switch="type">
                            <li ng-switch-when="climate" ng-repeat="d in data_m" style="padding:5px 15px;">
                                <b>{{d.name}}</b>                                
                                <a ng-repeat="m in d.municipalities" href="/Clima?municipio={{m.name}}">{{m.name}}</a>
                                
                            </li>
                            <li ng-switch-when="crop" ng-repeat="m in data_m"><a href="/Cultivo?municipio={{m.name}}&cultivo={{crop_name}}">{{m.name}}</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End weather station -->
            </div>
        </div>
    </nav>

    <div class="body-content" >
        <div class="container-fluid">
                @RenderBody()
        </div>
    </div>
    <footer class="footer clearfix">
                    
            <div class="form-group">
            <div class="col-lg-6 form-group">
                <div class="col-lg-12" style="color:white;">
                    <h4>Nuestros socios</h4>
                    <hr />
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="http://www.fedearroz.com.co/new/index.php" target="_blank"><img class="img-rounded" src="~/images/partners/fedearroz.png" alt="FEDEARROZ" width="80" height="80"></a>
                    </center>
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="https://www.federaciondecafeteros.org/" target="_blank"><img class="img-rounded" src="~/images/partners/federacionnacionaldecafeteros.jpg" alt="Federeacion nacional de cafeteros" width="80" height="80"></a>
                    </center>
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="http://www.fenalce.org/nueva/index.php" target="_blank"><img class="img-rounded" src="~/images/partners/fenalce.png" alt="FENALCE" width="80" height="80" style="padding:12px 0;"></a>
                    </center>
                </div>
                <div class="col-lg-3 col-xs-6 form-group">
                    <center>
                        <a href="http://www.ideam.gov.co/" target="_blank"><img class="img-rounded" src="~/images/partners/ideam.png" alt="IDEAM" width="80" height="80" style="padding:8px;"></a>
                    </center>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12" style="color:white;">
                    <h4>Donantes</h4>
                    <hr />
                </div>
                <div class="col-lg-3 col-xs-6">
                    <center>
                        <a href="https://www.usaid.gov/" target="_blank"><img class="img-rounded" src="~/images/partners/usaid.png" alt="USAID" width="80" height="80"></a>
                    </center>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <p class="text-justify">
                            CIAT All Rights reserved <br />
                            Teléfonos de contacto: (2) 4450000 Ext. 3367, 3579 <br />
                            Email: aclimatecolombia@gmail.com <br />
                            Colombia
                        </p>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <p class="text-justify">
                            <a href="http://aclimatecolomb.wpengine.com/contactenos/">Contáctenos</a> /
                            <a href="http://aclimatecolomb.wpengine.com/html-site-map">Mapa del Sitio</a> /
                            <a href="">Políticas de Privacidad</a>
                        </p>
                    </div>
                </div>
        </div>
    </footer>
    
    <!-- Start Modal Assist -->
    <div id="assit_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal_text">

                    </p>
                    <iframe id="modal_video" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Assist -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/services/forecast.js"></script>
    <script src="~/js/services/historical.js"></script>
    <script src="~/js/services/base.js"></script>
    <script src="~/js/services/helpers.js"></script>
    <script src="~/js/controllers/location.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
