@model CIAT.DAPA.USAID.Forecast.Data.Models.State
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    @if (ViewBag.message != null)
    {
        @if (ViewBag.message.type == MessageType.error)
        {
            <p class="bg-danger">@ViewBag.message.content</p>
        }
        else
        {
            <p class="bg-success">@ViewBag.message.content</p>
        }
    }
</div>
<fieldset>
    <legend>@Localizer["ClimatologyTitle"]</legend>
    <p class="text-justify">
        @Localizer["ClimatologyDescription"]
    </p>
    @using (Html.BeginForm("Climatology", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="search">@Localizer["TypeSearch"]</label>
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="search" id="search" value="1" checked="checked">@Localizer["ExtID"]
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="search" id="search" value="2">@Localizer["Name"]
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="file">
                    @Localizer["ImportFile"]
                </label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Localizer["ImportCMD"]" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</fieldset>
