@model CIAT.DAPA.USAID.Forecast.Data.Models.State
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    @if (ViewBag.message != null)
    {
        @if (ViewBag.message.type == MessageType.error)
        {
            <p class="bg-danger">@ViewBag.message.content</p>
        }
        else
        {
            <p class="bg-success">@ViewBag.message.content</p>
        }
    }
</div>
<fieldset>
    <legend>@Localizer["HistoricalTitle"]</legend>
    <p class="text-justify">
        @Localizer["HistoricalDescription"]
    </p>
    @using (Html.BeginForm("HistoricalYield", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label col-md-2" for="source">@Localizer["Source"]</label>
                    <div class="col-md-10">
                        @Html.DropDownList("source", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="file">
                    @Localizer["File"]
                </label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Localizer["ImportCMD"]" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</fieldset>
