@model CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Extend.SetupExtend

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateSetup", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <fieldset>
            <h4>@Localizer["Crop"]</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="crop" class="control-label col-md-2">@Localizer["Crop"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("crop", null, @Localizer["SelectCrop"].Value, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="weather_station" class="control-label col-md-2">@Localizer["WS"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("weather_station", null, @Localizer["SelectWS"].Value, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="cultivar" class="control-label col-md-2">@Localizer["Cultivar"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("cultivar", new SelectList(""), @Localizer["SelectCultivar"].Value, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="soil" class="control-label col-md-2">@Localizer["Soil"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("soil", new SelectList(""), @Localizer["SelectSoil"].Value, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="days" class="control-label col-md-2">@Localizer["Days"]:</label>
                <div class="col-md-10">
                    @Html.Editor("days", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>@Localizer["ConfFile"]</legend>
            <div class="form-group">
                <div class="col-md-">
                    <input type="button" id="add_file" value="@Localizer["AddFile"]" class="btn btn-default" />
                </div>
            </div>
            <table class="table" id="conf_files">
                <thead>
                    <tr>
                        <th>@Localizer["ParameterName"]</th>
                        <th>@Localizer["File"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</div>

@section Scripts {
    <script src="~/js/setup.js"></script>
}
