@{
    ViewData["Title"] = @Localizer["Title"];
    ViewData["Meta_Description"] = "Predicción y datos históricos del clima en " + ViewBag.s + ", " + ViewBag.m + ", " + ViewBag.w;
    ViewData["Meta_Keywords"] = "pronóstico,predicción,clima,precipitación,radiación solar,temperatura,temperatura máxima,temperatura mínima,histórico climático,climatología," + ViewBag.s + "," + ViewBag.m + "," + ViewBag.w;
}
<!-- Start global variables -->
<input type="hidden" id="api_fs" name="api_fs" value="@ViewBag.api_fs" />
<input type="hidden" id="gv_months" name="gv_months" value="@ViewBag.gv_months" />
<!-- End global variables -->
@if (ViewBag.ws != null)
{
    @Html.Partial("_SubMenu")

    <div id="containerBlock">
        <!-- Start Probabilities -->
        <section class="col-md-12 sections" id="content_forecast">
            <div class="row section-content">
                <h2 class="text-center" id="sectionTitle" style="">@Localizer["ForecastTitle"]</h2>
                <div>
                    <p class="text-justify col-lg-12" style="font-size:1.1em;">
                        @Localizer["ForecastMunicipality"]
                        <span class="text-bold">@ViewBag.m</span>,
                        @Localizer["ForecastPeriod"]
                        <span class="text-bold"></span>.
                        @Localizer["ForecastWS"]
                        <span class="text-bold">@ViewBag.ws.Name - @ViewBag.ws.Ext_Id</span>,
                        @Localizer["ForecastWSProvider"]
                        <span class="text-bold">@ViewBag.ws.Origin</span>.
                    </p>
                    <p class="text-justify col-lg-12" style="font-size:1.1em;">
                        @Localizer["ForecastExplanation"]
                    </p>
                </div>
            </div>
            <div class="row" id="probabilities_pies">
                <div id="climate_carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @{
                            int i = -1;
                            foreach (ForecastClimateData d in ViewBag.climate_data)
                            {
                                i = i + 1;
                                <li data-target="#climate_carousel" data-slide-to="@i" class="@(i == 0 ? " active" : null)"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @{
                            i = -1;
                            foreach (ForecastClimateData d in ViewBag.climate_data)
                            {
                                i = i + 1;
                                int month1 = d.Month == 1 ? 12 : d.Month - 1;
                                int month2 = d.Month;
                                int month3 = d.Month == 12 ? 1 : d.Month + 1;
                                int[] months = new int[] { month1, month2, month3 };
                                string[] months_names = Localizer["Months"].Value.Split(",");
                                ForecastClimateProbability p = d.Probabilities.First();
                                string summary = "ForecastNormal";
                                if (p.Lower >= p.Normal && p.Lower >= p.Upper) { summary = "ForecastAbove"; }
                                else if (p.Upper >= p.Normal && p.Upper >= p.Lower) { summary = "ForecastBelow"; }
                                <!--<section class="item @(i == 0 ? " active" : null)">-->
                                <section class="item active forecast_slide" id="@("forecast_slide")">
                                    <article class="col-lg-10 article_content col-sm-offset-1">
                                        <div class="section-content">
                                            <h3 class="text-center">@d.Year</h3>
                                            <h3 class="text-center">@months_names[month1 - 1] - @months_names[month2 - 1] - @months_names[month3 - 1]</h3>
                                            <h4 class="text-center">@Localizer["ForecastProbabilitiesTitle"]</h4>
                                            <div id="@("pie_" + d.Year.ToString() + "_" + month2.ToString())" class="plot plot_pie">
                                                <svg></svg>
                                            </div>
                                            <p class="text-justify article_content">
                                                @Localizer["ForecastSummaryMonth"]
                                                <span class="text-bold">@months_names[month1 - 1] - @months_names[month2 - 1] - @months_names[month3 - 1]</span>
                                                @Localizer["ForecastSummaryWS"]
                                                <span class="text-bold">@ViewBag.m</span>
                                                @Localizer["ForecastSummaryNormal"] <span class="text-bold">@p.Lower mm - @p.Upper mm</span>,
                                                @Localizer["ForecastSummaryResult"] <span class="text-bold">@Localizer[summary]</span>.
                                            </p>
                                        </div>
                                    </article>
                                    <article class="col-lg-10 article_content  col-sm-offset-1">
                                        <h3 class="text-center">@Localizer["ForecastScenarioTitle"]</h3>
                                        <div class="section-content">
                                            @{
                                                int time = -1;
                                                List<Scenario> scenario_list = ViewBag.scenario;
                                                foreach (string s in scenario_list.Select(o => o.Measure).Distinct())
                                                {
                                                    time = time + 1;
                                                    @Html.Raw((time % 2) == 0 ? "<div class='row'>" : "")

                                                    <article class="col-lg-6 article_content">
                                                        <table class="table">
                                                            <tr>
                                                                <th colspan="4">@Localizer[s] (@Localizer[s + "_unit"])</th>
                                                            </tr>
                                                            <tr><th>@Localizer["ForecastScenarioDate"]</th><th>@Localizer["ForecastScenarioMinimun"]</th><th>@Localizer["ForecastScenarioAvg"]</th><th>@Localizer["ForecastScenarioMaximun"]</th></tr>

                                                            @foreach (Scenario md in scenario_list.Where(o => o.Measure == s && months.Contains(o.Month)))
                                                            {
                                                                <tr>
                                                                    <td>@md.Year - @md.Month</td>
                                                                    <td>@string.Format("{0:0.}", md.Min)</td>
                                                                    <td>@string.Format("{0:0.}", md.Avg)</td>
                                                                    <td>@string.Format("{0:0.}", md.Max)</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </article>

                                                    @Html.Raw((time % 2) != 0 ? "</div>" : "")
                                                }

                                            }



                                        </div>
                                    </article>
                                </section>

                            }
                        }
                        <a class="left carousel-control" href="#climate_carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#climate_carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Probabilities -->
        <!-- Start Historical -->
        <section class="col-md-12 sections" id="content_historical" style="display:none;" ng-controller="ClimateHistoryCtrl">
            <div class="row">
                <!-- Start Climatology -->
                <article id="climatology" class="col-lg-6 article_content">
                    <div class="section-content" style="min-height: 525px;">
                        <h3 class="text-center">@Localizer["ClimatologyTitle"]</h3>
                        <p class="text-justify">

                            @Localizer["ClimatologyContent"]
                            <!--
                            {{cv.description_climatology}}.
                            La climatología para la <span class="text-bold">{{cv.name}}</span>
                            en el período de <span class="text-bold">{{cv.month_start}} a {{cv.month_end}}</span>
                            en el municipio <span class="text-bold">{{municipality_name}}</span> nos indica que:
                            <ul>
                                <li>
                                    El mes con mayor <span class="text-bold">{{cv.name}}</span> del semestre es
                                    <span class="text-bold">{{cv.max.month_name}} con {{cv.max.value | number : 0}} {{cv.metric}}</span>.
                                </li>
                                <li>
                                    El mes con menor <span class="text-bold">{{cv.name}}</span> del semestre es
                                    <span class="text-bold">{{cv.min.month_name}} con {{cv.min.value | number : 0}} {{cv.metric}}</span>.
                                </li>
                            </ul> -->

                        </p>
                        <div id="bar_climatology" class="bar_climatology"></div>
                    </div>
                </article>

                <!-- End Climatology -->
                <!-- Start History -->

                <article id="climatic_historical" class="col-lg-6 article_content">
                    <div class="section-content">
                        <h3 class="text-center">">Comportamiento histórico mensual de {{cv.name}}</h3>
                        <p class="text-justify">
                            {{cv.description_historical}}.
                        </p>
                        <div id="climatic_historical_content" class="article_content historical_content">
                            <select class="form-control" ng-model="cv_month_selected" ng-change="drawHistorical()" ng-options="hm.name for hm in historical_months"></select>
                            <p class="text-justify" id="historical_content_summary">
                                Históricamente en el mes <span class="text-bold">{{cv_month_selected.name}}</span> en el
                                municipio <span class="text-bold">{{municipality_name}}</span> presenta el siguiente comportamiento:
                            </p>
                            <div id="historical_content_line">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- End History -->
            </div>
        </section>
        <!-- End Historical -->
    </div>

}




@section Scripts {
    
    <script src="~/js/graphics/donut.js"></script>
    <script type="text/javascript">
        var donuts_data = @Html.Raw(Json.Serialize(ViewBag.climate_data));
        var donuts_labels = { "normal":'@Localizer["ForecastNormal"]', "upper":'@Localizer["ForecastAbove"]', "lower":'@Localizer["ForecastBelow"]'};
        plot_donut(donuts_data, donuts_labels);
        window.loading_screen.finish();
        $('.forecast_slide').slice(1).removeClass("active");
    </script>

    <script src="~/js/lib/d3graphics/base.js"></script>    
    <script src="~/js/lib/d3graphics/bars.js"></script>
    <script src="~/js/lib/d3graphics/line.js"></script>
    <script src="~/js/controllers/climate_forecast_ctr.js"></script>
    <script src="~/js/controllers/climate_history_ctr.js"></script>
}
