@model CIAT.DAPA.USAID.Forecast.Data.Models.WeatherStation

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Localizer["WS"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.municipality)
        </dt>

        <dd>
            @Model.municipality.ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ext_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.elevation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elevation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track.register)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track.register)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track.updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Ranges"].Value, "Range", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Setup"].Value, "Configuration", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</p>
