@model CIAT.DAPA.USAID.Forecast.Data.Models.State
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools

@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Import</h2>

<div>
    <h4>Weather Station</h4>
    <hr />
    @if (ViewBag.message != null)
    {
        @if (ViewBag.message.type == MessageType.error)
        {
            <p class="bg-danger">@ViewBag.message.content</p>
        }
        else
        {
            <p class="bg-success">@ViewBag.message.content</p>
        }
    }
</div>
<fieldset>
    <legend>Historical climate data</legend>
    <p class="text-justify">
        This option allow upload a file to create new records in the historical climate collection. The file should has
        specify structure. You can see the example.
    </p>
    @using (Html.BeginForm("ImportHistoricalClimate", "WeatherStation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="search">Type of search</label>
            <div class="col-md-10">
                <label class="radio-inline">
                    <input type="radio" name="search" id="search" value="1" checked="checked">Extern ID
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search" id="search" value="2">Name
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="measures">Measure</label>
            <div class="col-md-10">
                @Html.DropDownList("measures", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                File to import (splitted by comma ",").
                <a href="~/Data/Examples/Import-Historical-Climate.csv">Example by Extern ID</a>
            </label>
            <div class="col-md-10">
                <input type="file" class="form-control" name="file" id="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</fieldset>

<fieldset>
    <legend>Climatology data</legend>
    <p class="text-justify">
        This option allow upload a file to create new records in the climatology collection. The file should has
        specify structure. You can see the example.
    </p>
    @using (Html.BeginForm("ImportClimatology", "WeatherStation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="search">Type of search</label>
            <div class="col-md-10">
                <label class="radio-inline">
                    <input type="radio" name="search" id="search" value="1" checked="checked">Extern ID
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search" id="search" value="2">Name
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="file">
                File to import (splitted by comma ",").
                <a href="~/Data/Examples/Import-Climatology.csv">Example by Extern ID</a>
            </label>
            <div class="col-md-10">
                <input type="file" class="form-control" name="file" id="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</fieldset>

<fieldset>
    <legend>Historical yield data</legend>
    <p class="text-justify">
        This option allow upload a file to create new records in the historical yield collection. The file should has
        specify structure. You can see the example.
    </p>
    @using (Html.BeginForm("ImportHistoricalYield", "WeatherStation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label col-md-2" for="source">Fuente</label>
                    <div class="col-md-10">
                        @Html.DropDownList("source", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="file">
                    File to import (splitted by comma ",").
                    <a href="~/Data/Examples/Import-Climatology.csv">Example by Extern ID</a>
                </label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Import" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>