@using CIAT.DAPA.USAID.Forecast.Web.Models.Tools;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject Microsoft.Extensions.Options.IOptions<Settings> AppSettings


@{
    ViewData["Title"] = @Localizer["Title"];
    ViewData["Meta_Description"] = "Indicadores de riesgo agroclimático";
    ViewData["Meta_Keywords"] = "indicadores,indicadores de riesgo climático";
}

<div id="containerBlock">






    <section class="col-md-12 sections">
        <div class="row section-content">
            <h2 class="text-center" id="indicatorsTitle" style="">@Localizer["Title"]</h2>
            <p class="text-justify" id="indicatorsDesc">


            </p>


            <div class="lds-dual-ring" id="capabilitiesLoader"></div>
            <div class="row" id="capabilitiesFilter">
                <div class="row form-group border border-dark">
                    <div id="cropSelect" class="col-lg-6 control-label">
                        <label for="cbo_crop">
                            @Localizer["Crop"]
                        </label>
                        @Html.DropDownList("cbo_crop", new SelectList(new List<String>(), "Value", "Text"), new { @class = "form-control", onchange = "initMaps()" })
                    </div>
                    <div id="groupSelect" class="col-lg-6 control-label">
                        <label for="cbo_group">
                            @Localizer["Group"]
                        </label>
                        @Html.DropDownList("cbo_group", new SelectList(new List<String>(), "Value", "Text"), new { @class = "form-control", onchange = "initMaps()" })
                    </div>
                </div>
            </div>

            <div class="error-msg" id="errorMsg"></div>
            <br />

            <div id="maps_section" class="indicator-maps-container">

            </div>
        </div>
    </section>
</div>


@section Scripts {
    <link rel="stylesheet" href="~/css/loader.css" />
    <link rel="stylesheet" href="~/css/maps.css" />
    <script src="~/lib/x2js/xml2json.min.js"></script>
    <script type="text/javascript" src="~/js/map/geo_indicators.js"></script>
    <script type="text/javascript" src="~/js/map/map_overlays.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>



    <script type="text/javascript">


        var currentLocale = '@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName';
        var ws = @Html.Raw(Json.Serialize(ViewBag.WeatherStations));

        geoserver_url = "@Html.Raw(ViewBag.geoserver_url)";
        geoserver_workspace = "@Html.Raw(ViewBag.geoserver_workspace)";

         var translations = {
             compare: '@Localizer["Compare"]',
             period: '@Localizer["Period"]',
             none: '@Localizer["None"]',
             average: '@Localizer["Average"]',
             el_nino: '@Localizer["El_nino"]',
             la_nina: '@Localizer["La_nina"]',

             precipitation: '@Localizer["Precipitation"]',
             temperature: '@Localizer["Temperature"]',
             humidity: '@Localizer["Humidity"]',


             coffee: '@Localizer["coffee"]',
             maize: '@Localizer["maize"]',
             dry_bean: '@Localizer["dry_bean"]',
             soybean: '@Localizer["soybean"]',

             heat_waves: '@Localizer["heat_waves"]',
             heavy_rainfall: '@Localizer["heavy_rainfall"]',
             dry_spells: '@Localizer["dry_spells"]',
             spei: '@Localizer["spei"]',
             water_demand: '@Localizer["water_demand"]',

         };



                    const bounds = L.latLngBounds(ws.map((c) => {
                        return [c.latitude, c.longitude];
                    }));
                    conf = { bounds: bounds };
                mapOverlays =  @Html.Raw(Json.Serialize( @AppSettings.Value.mapOverlays));


        indicatorYearConstants =  @Html.Raw(Json.Serialize(new
                             {
                                 avg = AppSettings.Value.indicator_geoserver_average,
                                 nino = AppSettings.Value.indicator_NINA,
                                 nina = AppSettings.Value.indicator_NINO
            }));
            init();
            window.loading_screen.finish();
    </script>
}