@model IEnumerable<CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Extend.CropSetup>
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools

@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h4>@ViewBag.crop_name</h4>

@if (ViewBag.message != null)
{
    @if (ViewBag.message.type == MessageType.error)
    {
        <p class="bg-danger">@ViewBag.message.content</p>
    }
    else
    {
        <p class="bg-success">@ViewBag.message.content</p>
    }
}

@using (Html.BeginForm("Setup", "Crop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="id" name="id" value="@ViewBag.crop_id" />
    <div class="form-horizontal">
        <fieldset>
            <legend>Configuración global</legend>
            <div class="form-group">
                <label for="weather_station" class="control-label col-md-2">Estación climática:</label>
                <div class="col-md-10">
                    @Html.DropDownList("weather_station", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="cultivar" class="control-label col-md-2">Cultivar:</label>
                <div class="col-md-10">
                    @Html.DropDownList("cultivar", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="soil" class="control-label col-md-2">Suelo:</label>
                <div class="col-md-10">
                    @Html.DropDownList("soil", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="days" class="control-label col-md-2">Días:</label>
                <div class="col-md-10">
                    @Html.Editor("days", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Archivos de configuración</legend>
            <div class="form-group">
                <div class="col-md-">
                    <input type="button" id="add_file" value="Agregar archivo" class="btn btn-default" />
                </div>
            </div>
            <table class="table" id="conf_files">
                <thead>
                    <tr>
                        <th>Nombre de parámetro</th>
                        <th>Archivo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Volver a cultivo", "Details", new { id = ViewBag.crop_id })
</div>
<h3>Configuraciones disponibles</h3>
<table class="table">
    <tr>
        <th>Estación climática</th>
        <th>Cultivar</th>
        <th>Suelos</th>
        <th>Días</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(p => p.track.enable))
    {
        <tr>
            <td>
                @item.weather_station_name
            </td>
            <td>
                @item.cultivar_name
            </td>
            <td>
                @item.soil_name
            </td>
            <td>
                @item.days
            </td>
            <td>
                @using (Html.BeginForm("SetupDelete", "Crop", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="crop" name="crop" value="@ViewBag.crop_id" />
                    <input type="hidden" id="ws" name="ws" value="@item.weather_station.ToString()" />
                    <input type="hidden" id="cu" name="cu" value="@item.cultivar.ToString()" />
                    <input type="hidden" id="so" name="so" value="@item.soil.ToString()" />
                    <input type="hidden" id="days" name="days" value="@item.days.ToString()" />
                    <input class="btn btn-danger" type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Volver a cultivo", "Details", new { id = ViewBag.crop_id })
</div>
@section Scripts {
    <script src="~/js/setup.js"></script>
}