@model IEnumerable<CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Extend.CropSetup>
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h4>@ViewBag.crop_name</h4>

@if (ViewBag.message != null)
{
    @if (ViewBag.message.type == MessageType.error)
    {
        <p class="bg-danger">@ViewBag.message.content</p>
    }
    else
    {
        <p class="bg-success">@ViewBag.message.content</p>
    }
}

@using (Html.BeginForm("Setup", "Crop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="id" name="id" value="@ViewBag.crop_id" />
    <div class="form-horizontal">
        <fieldset>
            <legend>@Localizer["ConfGlobal"]</legend>
            <div class="form-group">
                <label for="weather_station" class="control-label col-md-2">@Localizer["WS"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("weather_station", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="cultivar" class="control-label col-md-2">@Localizer["Cultivar"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("cultivar", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="soil" class="control-label col-md-2">@Localizer["Soil"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("soil", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="days" class="control-label col-md-2">@Localizer["Days"]:</label>
                <div class="col-md-10">
                    @Html.Editor("days", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>@Localizer["ConfFile"]</legend>
            <div class="form-group">
                <div class="col-md-">
                    <input type="button" id="add_file" value="@Localizer["AddFile"]" class="btn btn-default" />
                </div>
            </div>
            <table class="table" id="conf_files">
                <thead>
                    <tr>
                        <th>@Localizer["ParameterName"]</th>
                        <th>@Localizer["File"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink(Localizer["Back"].Value, "Details", new { id = ViewBag.crop_id })
</div>
<h3>@Localizer["ConfAvalaible"]</h3>
<table class="table">
    <tr>
        <th>@Localizer["Date"]</th>
        <th>@Localizer["WS"]</th>
        <th>@Localizer["Cultivar"]</th>
        <th>@Localizer["Soil"]</th>
        <th>@Localizer["Days"]</th>
        <th>@Localizer["File"]</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(p => p.track.enable))
    {
        <tr>
            <td>
                @item.track.register.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.weather_station_name
            </td>
            <td>
                @item.cultivar_name
            </td>
            <td>
                @item.soil_name
            </td>
            <td>
                @item.days
            </td>
            <td>
                <ul>
                    @foreach (var f in item.conf_files)
                    {
                        <li>
                            @Html.ActionLink(f.name, "Download", "Home", new { file = @f.path.Split('\\').Last(), type = 1 }, new { target = "_blank" })
                        </li>
                    }
                </ul>

            </td>
            <td>
                @using (Html.BeginForm("SetupDelete", "Crop", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="crop" name="crop" value="@ViewBag.crop_id" />
                    <input type="hidden" id="ws" name="ws" value="@item.weather_station.ToString()" />
                    <input type="hidden" id="cu" name="cu" value="@item.cultivar.ToString()" />
                    <input type="hidden" id="so" name="so" value="@item.soil.ToString()" />
                    <input type="hidden" id="days" name="days" value="@item.days.ToString()" />
                    <input class="btn btn-danger" type="submit" value="@Localizer["Delete"]" />
                }
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink(Localizer["Back"].Value, "Details", new { id = ViewBag.crop_id })
</div>
@section Scripts {
    <script src="~/js/setup.js"></script>
}