@model IEnumerable<CIAT.DAPA.USAID.Forecast.Data.Models.ConfigurationCPT>
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools
@using CIAT.DAPA.USAID.Forecast.Data.Models
@using System.Linq

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @{ var s = ((List<Country>)ViewBag.countries).FirstOrDefault(p => p.id == @ViewBag.state.country); }
    <h4>@s.name - @ViewBag.state.name</h4>
    <hr />
</div>

@if (ViewBag.message != null)
{
    @if (ViewBag.message.type == MessageType.error)
    {
        <p class="bg-danger">@ViewBag.message.content</p>
    }
    else
    {
        <p class="bg-success">@ViewBag.message.content</p>
    }
}

@using (Html.BeginForm("Configuration", "State", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="id" name="id" value="@ViewBag.state.id.ToString()" />
    <div class="form-horizontal">
        <fieldset>
            <legend>@Localizer["NewSetup"]</legend>
            <div class="form-group">
                <label for="forc_type" class="control-label col-md-2">@Localizer["Type"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("forc_type", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" id="trimester_container">
                <label for="trimester" class="control-label col-md-2">@Localizer["Trimester"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("trimester", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" id="bimonthly_container" style="display: none;">
                <label for="bimonthly" class="control-label col-md-2">@Localizer["Bimonthly"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("bimonthly", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="cca" class="control-label col-md-2">@Localizer["AmountCCA"]:</label>
                <div class="col-md-10">
                    @Html.Editor("cca", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <label for="x" class="control-label col-md-2">@Localizer["AmountX"]:</label>
                <div class="col-md-10">
                    @Html.Editor("x", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <label for="y" class="control-label col-md-2">@Localizer["AmountY"]:</label>
                <div class="col-md-10">
                    @Html.Editor("y", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <label for="measure" class="control-label col-md-2">@Localizer["Predictand"]:</label>
                <div class="col-md-10">
                    @Html.DropDownList("measure", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="gamma" class="control-label col-md-2">@Localizer["Gamma"]:</label>
                <div class="col-md-10">
                    @Html.CheckBox("gamma", null, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>@Localizer["Regions"]</legend>
            <div class="form-group">
                <div class="col-md-">
                    <input type="button" id="add_region" value="@Localizer["Add"]" class="btn btn-default" />
                </div>
            </div>
            <table class="table" id="conf_regions">
                <thead>
                    <tr>
                        <th>@Localizer["Predictor"].</th>
                        <th>Y min.</th>
                        <th>X min.</th>
                        <th>Y max.</th>
                        <th>X max.</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<h3>@Localizer["SetupAvalaible"]</h3>
<table class="table">
    <tr>
        <th>@Localizer["Date"]</th>
        <th>@Localizer["Trimester"]</th>
        <th>@Localizer["AmountCCA"]</th>
        <th>@Localizer["Gamma"]</th>
        <th>@Localizer["AmountX"]</th>
        <th>@Localizer["AmountY"]</th>
        <th>@Localizer["Type"]</th>
        <th>@Localizer["Predictand"]</th>
        <th>@Localizer["Regions"]</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(p => p.track.enable))
    {
<tr>
    <td>
        @item.track.register.ToString("yyyy-MM-dd")
    </td>
    <td>
        @item.trimester
    </td>
    <td>
        @item.cca_mode
    </td>
    <td>
        @item.gamma
    </td>
    <td>
        @item.x_mode
    </td>
    <td>
        @item.y_mode
    </td>
    <td>
        @item.forc_type
    </td>
    <td>
        @item.predictand
    </td>
    <td>
        <ul>
            @foreach (var c in item.regions)
            {

                <li>
                    @c.predictor.ToString()
                    -
                    @c.left_lower.lat
                    -
                    @c.left_lower.lon
                    ,
                    @c.rigth_upper.lat
                    -
                    @c.rigth_upper.lon
                </li>
            }
        </ul>
    </td>
    <td>
        @using (Html.BeginForm("ConfigurationDelete", "State", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="id" name="id" value="@ViewBag.state.id.ToString()" />
            <input type="hidden" id="quarter" name="quarter" value="@item.trimester" />
            <input type="hidden" id="cca" name="cca" value="@item.cca_mode.ToString()" />
            <input type="hidden" id="gamma" name="gamma" value="@item.gamma.ToString()" />
            <input type="hidden" id="x" name="x" value="@item.x_mode.ToString()" />
            <input type="hidden" id="y" name="y" value="@item.y_mode.ToString()" />
            <input type="hidden" id="register" name="register" value="@item.track.register.ToString("yyyy-MM-dd HH:mm:ss")" />
            <input type="hidden" id="type" name="type" value="@item.forc_type" />
            <input type="hidden" id="predictand" name="predictand" value="@item.predictand" />
            <input class="btn btn-danger" type="submit" value="@Localizer["Delete"]" />
        }
    </td>
</tr>
    }
</table>

<p>
    @Html.ActionLink(Localizer["Details"].Value, "Details", new { id = ViewBag.state.id }) |
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</p>

@section Scripts {
    <script src="~/js/configuration.js"></script>
}