@model CIAT.DAPA.USAID.Forecast.Data.Models.State

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>State</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country.iso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.iso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track.register)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track.register)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.track.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track.updated)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)

        <div class="form-actions no-color">            
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
