@using CIAT.DAPA.USAID.Forecast.Data.Models
@using System.Linq
@model CIAT.DAPA.USAID.Forecast.Data.Models.State

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Localizer["State"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">
                @Localizer["Country"]
            </label>
        </dt>
        <dd>
            @{ var s = ((List<Country>)ViewBag.countries).FirstOrDefault(p => p.id == @Model.country); }
            @s.name
        </dd>

        <dt>
            <label class="control-label">
                @Localizer["StateName"]
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <label class="control-label">
                @Localizer["RegisterDate"]
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track.register)
        </dd>

        <dt>
            <label class="control-label">
                @Localizer["UpdateDate"]
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.track.updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Import"].Value, "Import", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</p>
