@model CIAT.DAPA.USAID.Forecast.Data.Models.State

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Localizer["State"]</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label for="crop" class="control-label col-md-2">@Localizer["Country"]:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.country, selectList: (SelectList)ViewData["country"], optionLabel: null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="crop" class="control-label col-md-2">@Localizer["StateName"]:</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</div>