@model CIAT.DAPA.USAID.Forecast.Data.Models.State
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools

@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Import</h2>

<div>
    <h4>State</h4>
    <hr />
    @if (ViewBag.message != null)
    {
        @if (ViewBag.message.type == MessageType.error)
        {
            <p class="bg-danger">@ViewBag.message.content</p>
        }
        else
        {
            <p class="bg-success">@ViewBag.message.content</p>
        }

    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country.iso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.iso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<fieldset>
    <legend>Municipalities and weather stations</legend>
    @using (Html.BeginForm("ImportMunicipalitiesWeatherStations", "State", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="file">
                    File to import (splitted by comma ",").
                    <a href="~/Data/Examples/Import-Municipalities-WeatherStation.csv">Example</a>
                </label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Import" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</fieldset>

<fieldset>
    <legend>Historical climate data</legend>
    @using (Html.BeginForm("ImportHistoricalClimate", "State", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="search">Type of search</label>
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="search" id="search_ext" value="1">Extern ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="search" id="search_name" value="2">Name
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="search" id="search_id" value="3">ID
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="measures">Measure</label>
                <div class="col-md-10">
                    @Html.DropDownList("measures", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="file">
                    File to import (splitted by comma ",").
                    <a href="~/Data/Examples/Import-Historical-Climate.csv">Example by Extern ID</a>
                </label>
                <div class="col-md-10">
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Import" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Details", "Details", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
