@model CIAT.DAPA.USAID.Forecast.Data.Models.State
@using CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Tools
@using CIAT.DAPA.USAID.Forecast.Data.Models
@using System.Linq

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Localizer["State"]</h4>
    <hr />
    @if (ViewBag.message != null)
    {
        @if (ViewBag.message.type == MessageType.error)
        {
            <p class="bg-danger">@ViewBag.message.content</p>
        }
        else
        {
            <p class="bg-success">@ViewBag.message.content</p>
        }

    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @{ var s = ((List<Country>)ViewBag.countries).FirstOrDefault(p => p.id == @Model.country); }
            @s.name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<fieldset>
    <legend>@Localizer["WS"]</legend>
    <p class="text-justify">
        @Localizer["WSDescription"]
    </p>
    @using (Html.BeginForm("ImportMunicipalitiesWeatherStations", "State", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4" for="file">
                    @Localizer["File"]
                </label>
                <div class="col-md-8">
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Localizer["ImportTitle"]" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink(Localizer["Details"].Value, "Details", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</p>
