@model IEnumerable<CIAT.DAPA.USAID.Forecast.Data.Models.State>
@{
    ViewBag.Title = "Estados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>
            País
        </th>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.country.name)
            </td>
            <td>
                @item.id.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Configuración", "Configuration", new { id = item.id }) |
                @Html.ActionLink("Importar", "Import", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>