@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Meta_Description"] = "Descarga de información sobre pronóstico (predicción) climático y agroclimático en Colombia.";
    ViewData["Meta_Keywords"] = "pronóstico,clima,predicción,tiempo,precipitación,radiación solar,brillo solar,temperatura,temperatura máxima,temperatura mínima,historial climático,histórico climático,climatología,cultivos,producción,rendimiento,días a cosecha";
}


<div id="containerBlock">
    @foreach (var w in ViewBag.words)
    {
        <section class="col-md-12 sections">
            <article class="row section-content borderBox">
                <div class="col-lg-12 blockTitle closed" data-toggle="collapse" onclick="update_data('@w')" data-target="#@w">
                    <label class="cultivar_name">@Localizer[w + "_Title"]</label>
                </div>
                <div class="collapse" id="@w">
                    <p class="text-justify">@Localizer[w + "_Description"]</p>

                    @if (w == "agronomic")
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cmd_agronomic_source">
                                @Localizer["SearchType"]
                            </label>
                            <div class="col-lg-2">
                                <select id="cbo_agronomic" class="form-control" onchange="update_data('@w')">
                                    <option value="true">@Localizer["Cultivar"]</option>
                                    <option value="false">@Localizer["Soils"]</option>
                                </select>
                            </div>
                        </div>
                    }

                    @if (w == "climate_forecast")
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cbo_probabilities">
                                @Localizer["SearchType"]
                            </label>
                            <div class="col-lg-2">
                                <select id="cbo_probabilities" class="form-control" onchange="update_data('@w')">
                                    <option value="true">@Localizer["Probabilities"]</option>
                                    <option value="false">@Localizer["Scenarios"]</option>
                                </select>
                            </div>
                        </div>
                    }

                    @if (w == "yield_historical")
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cbo_probabilities">
                                @Localizer["Years"]
                            </label>
                            <div class="col-lg-2">
                                <input type="number" id="txt_years" class="form-control" onchange="update_data('@w')" value="1980" />
                            </div>
                        </div>
                    }

                    @if (w != "geographic" && w != "agronomic")
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cbo_ws_@w">
                                @Localizer["Location"]:
                            </label>
                            <div class="col-lg-5">
                                <select id="cbo_ws_@w" name="cbo_ws_@w" onchange="update_data('@w')" class="form-control" style="width:100%;">
                                    <option value=""></option>
                                    @foreach (var ws in (w == "climatology" || w == "climate_historical" || w == "climate_forecast" ? ViewBag.WeatherStations : ViewBag.WeatherStationsCrops))
                                    {
                                        <option value="@ws.Id">@ws.State, @ws.Municipality, @ws.Name </option>
                                    }
                                </select>
                            </div>
                        </div>
                    }

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-10 text-left">
                                <p>
                                    <a id="url_@w" href="" target="_blank"></a>
                                </p>
                            </label>
                            <div class="col-lg-2 pull-right">
                                <a role="button" class="btn btn-success" id="csv_@w" href="" target="_blank">Descargar CSV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    }

</div>


@section Scripts {
    <script type="text/javascript">
    var root = @Html.Raw(Json.Serialize(ViewBag.Root));

    function transform_cbo() {
        var vars = ["climatology", "climate_historical", "climate_forecast", "yield_historical", "yield_forecast"];
        var cbo = [];
        for (var i = 0; i < vars.length; i++) {
            cbo.push($('#cbo_ws_' + vars[i]).select2({ placeholder: '' }));
        }

    }

    transform_cbo();

    function update_data(m) {
        var url = get_url(m) ;

        $("#url_" + m).attr("href", url+ "json");
        $("#url_" + m).html(url+ "json");

        $("#csv_" + m).attr("href", url+ "csv");
    }
    function get_url(m) {
        var url = root;
        if (m === "geographic")
            url = url + "Geographic/";
        else if (m === "agronomic")
            url = url + "Agronomic/" + $("#cbo_agronomic").val() + "/";
        else if (m === "climatology")
            url = url + "Historical/Climatology/" + $('#cbo_ws_' + m).val() + "/";
        else if (m === "climate_historical")
            url = url + "Historical/HistoricalClimatic/" + $('#cbo_ws_' + m).val() + "/";
        else if (m === "climate_forecast")
            url = url + "Forecast/Climate/" + $('#cbo_ws_' + m).val() + "/" + $('#cbo_probabilities').val() + "/";
        else if (m === "yield_historical")
            url = url + "Historical/HistoricalYield/" + $('#cbo_ws_' + m).val() + "/" + $('#txt_years').val() + "/";
        else if (m === "yield_forecast")
            url = url + "Forecast/Yield/" + $('#cbo_ws_' + m).val() + "/";
        return url;
    }

        window.loading_screen.finish();
    </script>

}