@{
    ViewData["Title"] = "Cultivo";
}
<div ng-controller="ExpertCtrl">

    <!-- Start global variables -->
    <input type="hidden" id="api_fs" name="api_fs" value="@ViewBag.api_fs" />
    <input type="hidden" id="api_fs_geographic" name="api_fs_geographic" value="@ViewBag.api_fs_geographic" />
    <input type="hidden" id="api_fs_agronomic" name="api_fs_agronomic" value="@ViewBag.api_fs_agronomic" />
    <input type="hidden" id="api_fs_forecast" name="api_fs_forecast" value="@ViewBag.api_fs_forecast" />
    <input type="hidden" id="api_fs_historical" name="api_fs_historical" value="@ViewBag.api_fs_historical" />
    <input type="hidden" id="gv_months" name="gv_months" value="@ViewBag.gv_months" />
    <!-- End global variables -->
    <!-- Start Description -->
    <section id="description" class="">
        <article class="row section-content">
            <div class="col-lg-12">
                <img src="~/images/icon_help.svg" class="icon_help" alt="Ayuda" />
                <h2 class="text-center">Datos climáticos y agroclimáticos</h2>
                <p class="text-justify">
                    Usted puede obtener los datos del resultado de los pronósticos e históricos climáticos y agroclimáticos mediante esta
                    aplicación.
                </p>
            </div>
        </article>
        <article class="row section-content">
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-justified" id="tabs_filters" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#content_geographic" id="tab_geographic" role="tab" data-toggle="tab" aria-controls="content_geographic">Datos geográficos</a>
                    </li>
                    <li role="presentation">
                        <a href="#content_agronomic" id="tab_agronomic" role="tab" data-toggle="tab" aria-controls="content_agronomic">Datos agronómicos</a>
                    </li>
                </ul>
                <div class="tab-content" id="content_filters">
                    <div class="fade tab-pane active in" role="tabpanel" id="content_geographic" aria-labelledby="tab_geographic">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-11 text-left">
                                    <a href="{{url.geographic}}" target="_blank">{{url.geographic}}</a>
                                </label>
                                <div class="col-lg-1 text-right">
                                    <button type="button" class="btn btn-primary" ng-click="getData('geographic')">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="fade tab-pane" role="tabpanel" id="content_agronomic" aria-labelledby="tab_agronomic">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-11 text-left">
                                    <a href="{{url.agronomic}}" target="_blank">{{url.agronomic}}</a>
                                </label>
                                <div class="col-lg-1 text-right">
                                    <button type="button" class="btn btn-primary" ng-click="getData('agronomic')">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!-- End Description -->
    <!-- End Data -->
    <section id="expert_filters" class="row section-content">
        <article class="col-lg-12 article_content">
            <img src="~/images/icon_help.svg" class="icon_help" alt="Ayuda" />
            <div class="text-right">
                <button type="button" class="btn btn-success" ng-click="">Descargar</button>
            </div>
            <h2></h2>
            <table class="table">
                <tr>
                    <th ng-repeat="th in headers">{{th}}</th>
                </tr>
                <tr ng-repeat="row in content">
                    <td ng-repeat="cell in row">{{cell}}</td>
                </tr>
            </table>
        </article>
    </section>
    <!-- End Data -->
</div>


@section Scripts {
    <script src="~/js/controllers/expert.js"></script>
}