@model CIAT.DAPA.USAID.Forecast.Data.Models.Url
@using CIAT.DAPA.USAID.Forecast.Data.Models

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Localizer["Url"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Model.country.ToString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <h4>@Localizer["UrlData"]</h4>
        <hr />
        @foreach (UrlData urlData in Model.urls)
        {

            <dt>
                @Html.DisplayName(urlData.name)
            </dt>

            <dd>
                @Html.DisplayName(urlData.value)
            </dd>
            <dt>
                @Html.DisplayName(urlData.forc_type.ToString())
            </dt>

            <dd>
                @Html.DisplayName(urlData.prob_type.ToString())
            </dd>
        }




    </dl>
</div>
<p>
    @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = Model.id }) |
    @Html.ActionLink(Localizer["Back"].Value, "Index")
</p>
