<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Localizer["MenuMain"]</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown text-bold">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @Localizer["MenuAdmin"]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("ADMIN") || User.IsInRole("CLIMATOLOGIST") || User.IsInRole("IMPROVER"))
                            {
                                <li><a asp-area="" asp-controller="Source" asp-action="Index">@Localizer["MenuSources"]</a></li>
                            }
                            @if (User.IsInRole("ADMIN") || User.IsInRole("TECH"))
                            {
                                <li><a asp-area="" asp-controller="Account" asp-action="Index">@Localizer["MenuUsers"]</a></li>
                            }

                        </ul>
                    </li>
                    @if (User.IsInRole("ADMIN") || User.IsInRole("CLIMATOLOGIST"))
                    {
                        <li class="dropdown text-bold">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> @Localizer["MenuGeography"]<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Country" asp-action="Index">@Localizer["MenuCountry"]</a></li>
                                <li><a asp-area="" asp-controller="State" asp-action="Index">@Localizer["MenuStates"]</a></li>
                                <li><a asp-area="" asp-controller="Municipality" asp-action="Index">@Localizer["MenuMunicipalities"]</a></li>
                                <li><a asp-area="" asp-controller="WeatherStation" asp-action="Index">@Localizer["MenuWS"]</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("ADMIN") || User.IsInRole("IMPROVER"))
                    {
                        <li class="dropdown text-bold">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-grain"></span> @Localizer["MenuProduction"]<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Crop" asp-action="Index">@Localizer["MenuCrops"]</a></li>
                                <li><a asp-area="" asp-controller="Cultivar" asp-action="Index">@Localizer["MenuCultivars"]</a></li>
                                <li><a asp-area="" asp-controller="Soil" asp-action="Index">@Localizer["MenuSoils"]</a></li>
                                <li><a asp-area="" asp-controller="Setup" asp-action="Index">@Localizer["MenuSetups"]</a></li>
                                <li><a asp-area="" asp-controller="Recommendation" asp-action="Index">@Localizer["MenuRecommendation"]</a></li>
                                <li><a asp-area="" asp-controller="Url" asp-action="Index">@Localizer["MenuUrl"]</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("ADMIN") || User.IsInRole("CLIMATOLOGIST") || User.IsInRole("IMPROVER"))
                    {
                        <li class="dropdown text-bold">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cloud-upload"></span> @Localizer["MenuImport"]<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Import" asp-action="HistoricalClimate">@Localizer["MenuHistoricalClimatic"]</a></li>
                                <li><a asp-controller="Import" asp-action="Climatology">@Localizer["MenuClimatology"]</a></li>
                                <li><a asp-controller="Import" asp-action="HistoricalYield">@Localizer["MenuHistoricalYield"]</a></li>
                            </ul>
                        </li>
                    }
                    </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@Localizer["Footer"]</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
