@using Microsoft.AspNetCore.Identity
@using CIAT.DAPA.USAID.Forecast.Data.Models

@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IOptions<RequestLocalizationOptions> LocOptions

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Account" asp-action="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["UserSignout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["UserSignin"]</a></li>
    </ul>
}
<ul class="nav navbar-nav navbar-right">
    @{
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        var cultureItems = LocOptions.Value.SupportedUICultures
            .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
            .ToList();
        var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    }
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="drop_language" role="button" aria-haspopup="true" aria-expanded="true">@requestCulture.RequestCulture.UICulture.Name.ToUpper().Substring(0, 2) <span class="caret"></span></a>
        <ul class="drop_language dropdown-menu" aria-labelledby="drop_language">
            @foreach (var s in cultureItems)
            {
                <li style="padding:5px 15px;">
                    <form id="selectLanguage_@s.Value" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
                          method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="culture" id="culture" value="@s.Value" />
                        <a onclick="$('#selectLanguage_@s.Value').submit();">@s.Value.ToUpper().Substring(0, 2)</a>
                    </form>
                </li>
            }
        </ul>
    </li>
</ul>