@model IEnumerable<CIAT.DAPA.USAID.Forecast.Data.Models.User>
@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>@Localizer["Users"]</h2>

<p>
    @Html.ActionLink(Localizer["Back"].Value, "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Localizer["User"]
        </th>
        <th>
            @Localizer["Role"]
        </th>
        <th>
            @Localizer["Active"]
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Account.UserRoles userRole in (List<CIAT.DAPA.USAID.Forecast.WebAdmin.Models.Account.UserRoles>)ViewData["RoleNames"])
                {
                    if (item.Id == (string)userRole.id)
                    {
                        foreach (string role in (List<string>)userRole.listData)
                        {
                            @role.ToString()
                            <span>, </span>
                        }
                    }
                }
            </td>
            <td>
                @item.EmailConfirmed
            </td>
            <td>
                @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = item.Email })
            </td>
        </tr>
    }
</table>