@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container marketing">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/bg_climate.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>@Localizer["WeatherTitle"]</h2>
            <p>
                @Localizer["WeatherDescription"]
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/bg_rice.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>@Localizer["WeatherTitle"]</h2>
            <p>
                @Localizer["RiceDescription"]
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/bg_maize.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>@Localizer["MaizeTitle"]</h2>
            <p>
                @Localizer["MaizeDescription"]
            </p>
        </div>
    </div>
    <p>
        @Localizer["Footer"]
    </p>
</div>