@model IEnumerable<CIAT.DAPA.USAID.Forecast.Data.Models.Country>

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Localizer["New"].Value, "Create")
</p>
<p>
    <input type="text" id="txt_search" class="form-control" onkeyup="search_text()" placeholder="@Localizer["Search"]" />
</p>
<table class="table" id="index_list">
    <thead>
        <tr>
            <th>
                @Localizer["ID"]
            </th>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["ISO2"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iso2)
                </td>
                <td>
                    @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { id = item.id }) |
                    @Html.ActionLink(Localizer["Details"].Value, "Details", new { id = item.id }) |
                    @if (item.seasonal_mode == CIAT.DAPA.USAID.Forecast.Data.Enums.ForecastMode.next_gen)
                    {
                        @Html.ActionLink(Localizer["Seasonal"].Value, "SeasonalPyCpt", new { id = item.id }) @(" | ")
                    }
                    @if (item.subseasonal_mode == CIAT.DAPA.USAID.Forecast.Data.Enums.ForecastMode.next_gen)
                    {
                        @Html.ActionLink(Localizer["Subseasonal"].Value, "SubseasonalPyCPT", new { id = item.id }) @(" | ")
                    }
                    @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @await Html.PartialAsync("_ManagementScriptsPartial")
}